In [1]:
#importing dependencies
import os
import csv
import pandas as pd
import numpy as np
from collections import defaultdict

In [2]:
#setting file paths for csv manipulation
file0_csv = os.path.join('Multiple_year_stock_data_2014.csv')
file1_csv = os.path.join('Multiple_year_stock_data_2015.csv')
file2_csv = os.path.join('Multiple_year_stock_data_2016.csv')

In [3]:
#creating initial dictionaries
twenty14_open = {}
twenty14_close = {}
twenty15_open = {}
twenty15_close = {}
twenty16_open = {}
twenty16_close = {}

In [4]:
#initial function for csv parsing, d = dictionary, k = key
def has_key(d, k):
    try:
        d[k]
        return True
    except KeyError: 
        return False

In [5]:
#populating dictionary with <open>, <close> values '14
with open(file0_csv, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    for line in csvreader:
        ticker = line[0]
        open_val = line[2] 
        close_val = line[5]
        if has_key(twenty14_open, ticker): 
            pass
        else:
            twenty14_open[ticker] = open_val
 #           
        twenty14_close[ticker] = close_val

In [6]:
#populating dictionary with <open>, <close> values '15
with open(file1_csv, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    for line in csvreader:
        ticker = line[0]
        open_val = line[2] 
        close_val = line[5]
        if has_key(twenty15_open, ticker): 
            pass
        else:
            twenty15_open[ticker] = open_val
#            
        twenty15_close[ticker] = close_val

In [7]:
#populating dictionary with <open>, <close> values '16
with open(file2_csv, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    for line in csvreader:
        ticker = line[0]
        open_val = line[2] 
        close_val = line[5]
        if has_key(twenty16_open, ticker): 
            pass
        else:
            twenty16_open[ticker] = open_val
#            
        twenty16_close[ticker] = close_val

In [8]:
#combining dictionaries '14
open_close_14 = defaultdict(list)
#
for (k,v) , (x,y) in zip(twenty14_open.items(), twenty14_close.items()):
    open_close_14[k]=[v,y]

In [9]:
#combining dictionaries '15
open_close_15 = defaultdict(list)
#
for (k,v) , (x,y) in zip(twenty15_open.items(), twenty15_close.items()):
    open_close_15[k]=[v,y]

In [10]:
#combining dictionaries '16
open_close_16 = defaultdict(list)
#
for (k,v) , (x,y) in zip(twenty16_open.items(), twenty16_close.items()):
    open_close_16[k]=[v,y]

In [11]:
#making pandas <open>, <close> data frames
open_close_14_df = pd.DataFrame(open_close_14)
open_close_15_df = pd.DataFrame(open_close_15)
open_close_16_df = pd.DataFrame(open_close_16)

In [12]:
#transposing <open>, <close> data frame '14
o_c_14_df = open_close_14_df.T
o_c_15_df = open_close_15_df.T
o_c_16_df = open_close_16_df.T

In [13]:
#removing first row
oc_14_df = o_c_14_df.iloc[1:]
oc_15_df = o_c_15_df.iloc[1:]
oc_16_df = o_c_16_df.iloc[1:]

In [14]:
#changing data types 
oc_14_df.loc[:, 1] = oc_14_df[1].astype(float)
oc_14_df.loc[:, 0] = oc_14_df[0].astype(float)
#
oc_15_df.loc[:, 1] = oc_15_df[1].astype(float)
oc_15_df.loc[:, 0] = oc_15_df[0].astype(float)
#
oc_16_df.loc[:, 1] = oc_16_df[1].astype(float)
oc_16_df.loc[:, 0] = oc_16_df[0].astype(float)

C:\Users\phili\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:576: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value
C:\Users\phili\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [15]:
#getting yearly change values
oc_14_df['Yearly Change'] = oc_14_df[1] - oc_14_df[0]
oc_15_df['Yearly Change'] = oc_15_df[1] - oc_15_df[0]
oc_16_df['Yearly Change'] = oc_16_df[1] - oc_16_df[0]

C:\Users\phili\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\phili\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\phili\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
#isolating yearly change column
oc14_df = oc_14_df["Yearly Change"]
oc15_df = oc_15_df["Yearly Change"]
oc16_df = oc_16_df["Yearly Change"]

In [17]:
#creating yearly change data frame
yc14_df = pd.DataFrame(oc14_df)
yc15_df = pd.DataFrame(oc15_df)
yc16_df = pd.DataFrame(oc16_df)

In [18]:
#setting file paths for pandas
file0 = 'Multiple_year_stock_data_2014.csv'
file1 = 'Multiple_year_stock_data_2015.csv'
file2 = 'Multiple_year_stock_data_2016.csv'

In [19]:
#creating initial pandas data frames
twenty14_df = pd.read_csv(file0)
twenty15_df = pd.read_csv(file1)
twenty16_df = pd.read_csv(file2)

In [20]:
#renaming columns
twenty_14_df = twenty14_df.rename(columns = {"<ticker>" : "Ticker", "<date>" : "Date", "<open>" : "Open", "<high>" : "High", "<low>" : "Low", "<close>" : "Close", "<vol>" : "Volume"})

twenty_15_df = twenty14_df.rename(columns = {"<ticker>" : "Ticker", "<date>" : "Date", "<open>" : "Open", "<high>" : "High", "<low>" : "Low", "<close>" : "Close", "<vol>" : "Volume"})

twenty_16_df = twenty14_df.rename(columns = {"<ticker>" : "Ticker", "<date>" : "Date", "<open>" : "Open", "<high>" : "High", "<low>" : "Low", "<close>" : "Close", "<vol>" : "Volume"})

In [21]:
#Changing index
sorted_14_df = twenty_14_df.groupby(['Ticker'])
sorted_15_df = twenty_15_df.groupby(['Ticker'])
sorted_16_df = twenty_16_df.groupby(['Ticker'])

In [22]:
#summing volume
volume_14_df = sorted_14_df["Volume"].sum()
volume_15_df = sorted_14_df["Volume"].sum()
volume_16_df = sorted_14_df["Volume"].sum()

In [23]:
#creating volume data frame
volume14_df = pd.DataFrame({"Total Stock Volume" : volume_14_df})
volume15_df = pd.DataFrame({"Total Stock Volume" : volume_15_df})
volume16_df = pd.DataFrame({"Total Stock Volume" : volume_16_df})

In [24]:
# Merging data frames
vbs_sol_14 = pd.merge(volume14_df, yc14_df, left_index=True, right_index=True)
vbs_sol_15 = pd.merge(volume15_df, yc15_df, left_index=True, right_index=True)
vbs_sol_16 = pd.merge(volume16_df, yc16_df, left_index=True, right_index=True)

In [25]:
vbs_sol_14.head()

        Total Stock Volume  Yearly Change
Ticker
A                572978100         -16.25
AA              5161412000          15.48
AA-B              21618200           1.34
AAC                9789700          10.92
AAN              237929300           1.17

In [26]:
vbs_sol_15.head()

      Total Stock Volume  Yearly Change
A              572978100           0.87
AA            5161412000         -17.76
AA-B            21618200         -17.14
AAC              9789700         -11.86
AAN            237929300          -8.18

In [27]:
vbs_sol_16.head()

     Total Stock Volume  Yearly Change
A             572978100           3.75
AA           5161412000          -1.53
AAC             9789700         -11.82
AAN           237929300           9.60
AAP           200376400          18.61

In [28]:
#function for querying the dictionary
def yrly_chng(k, o, c):
    open_price = o[k]
    close_price = c[k]
    return float(close_price) - float(open_price)

In [29]:
yrly_chng('A', twenty14_open, twenty14_close)

-16.25